<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Golden Turtle - Hong Kong </ion-title>
    <img src="../../assets/images/logo.png" width="80" height="80" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p> 
    Turtel live application is an application that provide display 2D result and value of bitcoin and
    Ethereum coin exchange rate.
  </p>
    

  <p> Currency rate for BTC and ETC are displayed in hong kong (HKD) </p>
    
  <p>
    The original website is referenced by coinbase (www.coinbase.com) and also displayed without
    and direct change, so you can watch this BTC and ETC values on the original website.
  </p>

  <p>
    Turtle Live Application will display (5) times 2D result, BTC and ETC
    exchange value. you can be used quickly and easily and you can also view and
    search record of previous days.
  </p>
  
  <p> We're closed on every Monday.</p>
</ion-content>
