<ion-header>
  <ion-toolbar>
    <ion-title> Setting </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail button id="open-about-us-modal"  expand="block">
    <ion-label> About Us </ion-label>
  </ion-item>
  
  <ion-item detail button>
    <ion-label>  Update </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label> Version 0.0.1 </ion-label>
    <ion-button slot="end"> Check Update </ion-button>
  </ion-item>

</ion-content>

<ion-modal trigger="open-about-us-modal" (willDismiss)="cancel()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title> About Us </ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-text>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived 
        not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </ion-text>
    </ion-content>
  </ng-template>
</ion-modal>
