
.version-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.setting-list {
    background: #fff;
}

.setting-item {
    --background: #fff;
}

.p {
    margin-bottom: 20px;
}