.ion-list-bg {
    background: #fff!important;
}

ion-item {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    --border-width: 2px!important;
    --border-color: #FFD700;
    --background: #0532ad;
    --color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

ion-label > label {
    font-weight: bolder;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0532ad ;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.realtime-skeleton {
    --background: green!important;
    line-height: 30px;
    width: 100%;
}

small {
    font-size: 14px;
    padding-top: 5px;
}