<ion-list>
  <ion-list-header> Updated At : {{ currentDate | date: dateTime }} </ion-list-header>
  <ion-item lines="none">
    <ion-label slot="start" class="flex-column"> 
      <label> {{ rates.btc.base }} </label>
      <small> {{ rates.btc.amount | number: '1.0-0': 'en' }}.{{luckyNumber}} </small>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <label> {{ rates.etc.base }} </label>
      <small> {{ rates.etc.amount | number: '1.0-0': 'en' }}.{{luckyNumber}} </small>
    </ion-label>
  </ion-item>
</ion-list>

<div class="flex-wrapper">
  <ion-text class="date-text"> </ion-text>
  <span class="number"> {{ luckyNumber }} </span>
</div>