<ion-list>
  <ion-list-header> Exchange Rate </ion-list-header>
  <ion-item lines="none">
    <ion-label slot="start" class="flex-column"> 
      <label> BTC </label>
      <small> 39,729,789.65 MMK</small>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <label> ETC </label>
      <small> 39,729,789.65 MMK </small>
    </ion-label>
  </ion-item>
</ion-list>

<div class="flex-wrapper">
  <span class="caption-text"> 2D NUMBER </span>
  <span class="number"> {{ luckyNumber }} </span>
</div>