<ion-header>
  <ion-toolbar>
    <ion-title> Calendar </ion-title>
    <ion-buttons slot="end">
      <ion-button  id="open-calendar"  expand="block">
        <ion-icon slot="icon-only" name="calendar-number-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-change-date-format></app-change-date-format>
  <app-realtime [dateTime]="dateTimeformat"></app-realtime>
  <app-schedule-list 
    [timeFormat]="timeFormat" 
    [scheduleList]="scheduleList"
    [targeDate]="chooseDate"
  ></app-schedule-list>
</ion-content>

<ion-modal trigger="open-calendar" (willDismiss)="cancel()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title> Select Date </ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-datetime presentation="month" showDefaultButtons (ionChange)="search($event)"></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
