ion-datetime {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    color: var(--ion-color-light);
    --selected-color: #fff;
    --background: #0532ad;
    border-radius: 15px;
    // box-shadow: rgba(46, 2, 208, 0.3) 0px 10px 15px -3px;
}

.schedule-wrapper {
    margin-top: 20px;
}

.schedule-label {
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

.ion-padding{
    --background: rgb(237, 237, 237);
}