<ion-header>
  <ion-toolbar>
    <ion-title> Calendar </ion-title>
    <ion-buttons slot="end">
      <ion-button  id="open-calendar" expand="block">
        <ion-icon slot="icon-only" name="calendar-number-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="loading data..."
    >
  </ion-refresher-content>
  </ion-refresher>

  <ion-text class="pay-attention"> We're closed on every Monday </ion-text>
  <app-change-date-format></app-change-date-format>
  
  <div *ngIf="!isLoading">
      <div 
      class="schedule-wrapper"
      *ngFor="let schedule of scheduleList"
    >
      <label class="schedule-label"> {{schedule[0].schedule_date }}</label>
      <app-schedule-list
        [timeFormat]="timeFormat" 
        [scheduleList]="schedule"
        [header]="false"
      ></app-schedule-list>
    </div>
  </div>

</ion-content>

<ion-modal trigger="open-calendar" (willDismiss)="cancel()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title> Select Date </ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="cancel()"> OK </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-datetime presentation="month-year" (ionChange)="search($event)"></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
