<ion-header>
  <ion-toolbar>
    <ion-title> Golden Turtle - Hong Kong </ion-title>
    <img src="../../assets/images/logo.png" width="80" height="80" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="loading data..."
    >
  </ion-refresher-content>
  </ion-refresher>

  <app-change-date-format></app-change-date-format>
  <app-realtime [dateTime]="dateTimeformat" *ngIf="!isLoading"></app-realtime>
  <app-schedule-list
    [timeFormat]="timeFormat" 
    [scheduleList]="scheduleList"
    [header]="true"
    *ngIf="!isLoading"
  >
  </app-schedule-list>

  <ion-text class="pay-attention"> We're closed on every Monday </ion-text>
</ion-content>
