<ion-list>
  <ion-list-header> Schedule </ion-list-header>
  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 11:00 AM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 68 </span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 01:00 PM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 77 </span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 03:00 PM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 18 </span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 05:00 PM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 59 </span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 07:00 PM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 35 </span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="schedule-item">
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> 09:00 PM </label>
      <span class="text"> BTC - 39,729,789.65 MMK</span>
      <span class="text"> ETC - 39,729,789.65 MMK </span>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> 90 </span>
    </ion-label>
  </ion-item>


</ion-list>