<ion-list>
  <ion-list-header>
    <ion-label> {{ targeDate }} </ion-label>
  </ion-list-header>
  <ion-item 
    lines="none" 
    class="schedule-item"
    *ngFor="let schedule of scheduleList"
  >
    <ion-label slot="start" class="flex-column"> 
      <label class="title"> {{ schedule.schedule_time | date: timeFormat }}</label>
    </ion-label>

    <ion-label slot="end" class="flex-column-end">
      <span class="number"> {{schedule.lucky_number ? schedule.lucky_number : '--'}} </span>
    </ion-label>
  </ion-item>
</ion-list>